# Credenziali Portale Alloggiati Web
ALLOGGIATI_USERNAME=tua_username
ALLOGGIATI_PASSWORD=tua_password
ALLOGGIATI_WS_KEY=tua_ws_key  # Se usi il Web Service (facoltativo)
ALLOGGIATI_CERT_PATH=percorso/al/tuo/certificato.pfx
ALLOGGIATI_CERT_PASS=password_certificato

# Codice Struttura
STRUTTURA_ID=codice_struttura

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=tuo_bot_token
AUTHORIZED_USER_ID=7168811709 # ID estratto dallo screenshot

# Impostazioni OCR
OCR_LANGUAGES=it,en,fr,de
